<div id="backdrop">
</div>
<div id="instance-info">
INSTANCE INDEX:{{CF_INSTANCE_INDEX}}<br>
INSTANCE GUID:{{CF_INSTANCE_GUID}}<br>
INSTANCE MEMORY:{{MEMORY_LIMIT}}<br>
</div>
<div id="transform-logo">
</div>
<div id="autobot">
</div>
<div id="decepticon">
</div>
<div id="list-autobots">
  List of autobots:
  {{#each BOTS}}
  <li>{{this}}</li>
  {{/each}}
</div>
